.fondo-container {
    background-image: url('/Perfiles/Portal.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
}
.empleados-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: 18rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
}
